.quranPageContainer {
  /* Base styles */
  background-color: #fdfdfa;
  /* background-color: #f8f0da; */
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  /* padding: 2rem; */
}

/* Dark mode styles */
.dark .quranPageContainer {
  background-color: #1a202c; /* A slightly different dark background */
  border-color: #2d3748;
}


@font-face {
  font-family: 'surah-name-v4-icon';
  src: url('https://static-cdn.tarteel.ai/qul/fonts/surah-names/v4/surah-name-v4.ttf');
  font-display: swap;
}
  
@font-face {
  font-family: 'surah-name-v4';
  src: url(https://static-cdn.tarteel.ai/qul/fonts/surah-names/v4/surah-name-v4.woff2?v=3.3);
  src: url(https://static-cdn.tarteel.ai/qul/fonts/surah-names/v4/surah-name-v4.eot?v=3.3) format("embedded-opentype"),url(https://static-cdn.tarteel.ai/qul/fonts/surah-names/v4/surah-name-v4.ttf?v=3.3) format("truetype"),url(https://static-cdn.tarteel.ai/qul/fonts/surah-names/v4/surah-name-v4.woff?v=3.3) format("woff")
}
  
@font-face {
  font-family: 'bismillah';
  src: url(https://static-cdn.tarteel.ai/qul/fonts/bismillah/bismillah.woff2?v=3.3);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
  
@font-face {
  font-family: 'quran-icon';
  src: url(https://static-cdn.tarteel.ai/qul/fonts/common/quran-common.woff2?v=3.3),url(https://static-cdn.tarteel.ai/qul/fonts/common/quran-common.woff?v=3.3) format("woff"),url(https://static-cdn.tarteel.ai/qul/fonts/common/quran-common.ttf?v=3.3) format("truetype")
}
  
@font-face {
  font-family: 'me_quran';
  src: url('https://icikiwir.github.io/test/me_quran.eot?#iefix') format('embedded-opentype'),
  url('https://icikiwir.github.io/test/me_quran.woff') format('woff'),
  url('https://icikiwir.github.io/test/me_quran.ttf') format('truetype'),
  url('https://icikiwir.github.io/test/me_quran.svg#me_quran') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'indopak-nastaleeq';
  src: url(https://static-cdn.tarteel.ai/qul/fonts/nastaleeq/indopak-nastaleeq-waqf-lazim.woff2?v=3.3);
  font-weight: 400;
  font-style: normal
}
  
@font-face {
  font-family: 'qpc-nastaleeq';
  src: url(https://static-cdn.tarteel.ai/qul/fonts/nastaleeq/KFGQPCNastaleeq-Regular.woff2?v=3.3)
}
  
@font-face {
  font-family: 'digitalkhatt';
  src: url(https://static-cdn.tarteel.ai/qul/fonts/DigitalKhattQuranic.otf?v=3.3) format("opentype");
  font-style: normal;
  font-display: block
}
  
.surah-name-v4-icon {
  font-family: 'surah-name-v4-icon' !important;
}
  
.surah-name-v4 {
  font-family: 'surah-name-v4-icon' !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}
  
.bismillah {
  font-family: 'bismillah';
  text-align: center !important;
  font-size: 30px;
  
  @media (max-width: 768px) {
    font-size: 22px;
  }
}
  
.surah-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0;
  @media (max-width: 768px) {
    padding-bottom: 20px;
  }
}
  
.quran-icon {
  font-family: 'quran-icon';
}

.surah-header {
  font-size: clamp(40px, 8vw, 70px);
  margin-top: -30px;
  margin-bottom: -30px;
}
  
.surah-icon {
  font-size: clamp(30px, 8vw, 50px);
  text-align: right;
  direction: ltr;
  font-display: block;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  /* direction: ltr;
  top: calc(50% - min(46px, 7vw));
  left: calc(50% - 56px);
  font-size: clamp(26px, 5vw, 48px);
  width: 112px; */
}
  
.quran-page {
  width: min-content;
  height: min-content;
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 100vw;
}

.border-green {
  padding: 16px;
  border: 44px solid transparent;
  border-image-source: url(/quran-border.png);
  border-image-slice: 196 fill;
  border-image-repeat: round;
  @media (max-width: 768px) {
    padding: 6px;
  }
}

.border-red {
  padding: 60px;
  border: 44px solid transparent;
  border-image-source: url(/quran-border1.png);
  border-image-slice: 196 fill;
  border-image-repeat: round;
}

.border-none {
  border: none;
  padding: 10px;
}
  
   
#mushaf-display {
  width: 68%;
  direction: rtl; /* Essential for Arabic text */
  text-align: justify; /* Helps align Arabic text cleanly */
  line-height: 1.85; /* Adjust font size for readability */
  font-size: 22px;
  border-radius: 12px;
  
  @media (max-width: 768px) {
    width: 100%;
    font-size: 12px;
    line-height: 1.6;
  }
}
  
#mushaf-display .ayah{
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 4px;
}
  
#mushaf-display .word{
  cursor: pointer;
  display: inline-block;
  padding-bottom: 8px;
  /* width:100%; */
}
#mushaf-display .word .text:hover, #mushaf-display .arabic-num-marker:hover{
  color: #46ac71;
  border-bottom: 1px solid black;
}
  
.arabic-num-marker {
  color: #0000FF;
  padding: 0 3px;
  cursor: pointer;
}

.dark .arabic-num-marker {
  color: #6495ED;
}
  
.red-text{
  color:red;
}

.dark .red-text{
  color: #ff6b6b;
}